@media screen and (max-width: 320px) {
    html {
        font-size: 12PX;
    }
}

@media screen and (min-width: 321px) and (max-width:412px) {
    html {
        font-size: 14PX;
    }
}

@media screen and (min-width: 413px)and (max-width:540px) {
    html {
        font-size: 16PX;
    }
}

@media screen and (min-width: 541px) and (max-width:768px) {
    html {
        font-size: 18PX;
    }
}

@media screen and (min-width: 769px) {
     html {
        font-size: 20PX;
        #app {
            width: 768PX;
            margin: 0 auto
        }
    }
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
input,button,select,textarea{outline:none}